<div class="box">
    <div class="box-header"><h3 class="box-title">{{ 'Quicklist'|trans }}</h3></div>
    <div class="box-body">
        <table class="table table-bordered table-collapsed">
            <tbody>
            {% for k, r in repos %}
                <tr>
                    <th>{{ r.title|trans }} <a href="{{ admin_url(r.repository, 'list') }}"><i class="icon-list"></i></a></th>
                    <td><input type="text" data-quicklist-url="{{ path('zicht_admin_quicklist_quicklist', {'repo': k}) }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="{{ asset('bundles/zichtadmin/javascript/quicklist.js') }}"></script>
