{% trans_default_domain 'admin' %}

{% block zicht_quicklist_autocomplete_widget %}
    {# TODO make sure somehow that this script gets loaded only once #}
    <script src="{{ asset('bundles/zichtadmin/javascript/jquery-ui.autocomplete.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/zichtadmin/javascript/autocomplete.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/zichtadmin/css/jquery-ui.autocomplete.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/zichtadmin/css/jquery-ui.theme.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/zichtadmin/style/autocomplete.css') }}">

    {% if multiple %}
        {{ block('zicht_quicklist_autocomplete_multiple_widget') }}
        {% set initializer = 'initMultiple' %}
    {% else %}
        {{ block('zicht_quicklist_autocomplete_single_widget') }}
        {% set initializer = 'init' %}
    {% endif %}
    <script type="text/javascript">
        jQuery(function() {
            ZichtQuicklistAutocomplete.init(
                jQuery('#{{ id }}'),
                {{ path(route, route_params)|json_encode|raw }},
                {{ (multiple ? true : false)|json_encode|raw }}
            );
        });
    </script>
    {{ block('form_help') }}
    {# autocomplete will be appended to this container #}
    <div class="zicht-ui-autocompletecontainer_{{ id }}  zicht-ui-autocompletecontainer_resultslist">
    </div>
{% endblock %}

{% block zicht_quicklist_autocomplete_control %}
    {% set _value = value %}
    <input type="hidden" name="{{ full_name }}" value="{{ _value ? _value.id }}" id="{{ id }}">
    {% set value = _value ? _value.label : null %}
    {% set full_name=id ~ "_text_control" %}
    {{ block('form_widget_simple') }}
{% endblock %}

{% block zicht_quicklist_autocomplete_single_widget %}
    {{ block('zicht_quicklist_autocomplete_control') }}
{% endblock %}

{% block zicht_quicklist_autocomplete_multiple_widget %}
    {% set _id = id %}
    {% set _value = value %}
    {% set list_id = id ~ '_item_list' %}

    <ul id="{{ _id }}" class="zicht-autocomplete-multiple" data-template="{{ _id }}_template">
    {% for value in _value %}
        <li>
            {% set id = '' %}
            {{ block('zicht_quicklist_autocomplete_control') }}
            <a class="remove-control">
                <i class="glyphicon glyphicon-remove"></i>
                {#<span class="icon glyphicon-remove"></span>#}
            </a>
        </li>
    {% endfor %}
        <li>
            {% set value={value: null, id: null} %}
            {% set id=id ~ "_add_control" %}
            {{ block('zicht_quicklist_autocomplete_control') }}
            <a class="add-control"><span class="icon glyphicon glyphicon-plus"></span></a>
            <script type="text/plain" id="{{ _id }}_template">
                <li>
                    {% set value = {value: '', id: ''} %}
                    {{ block('zicht_quicklist_autocomplete_control') }}
                    <a class="remove-control"><span class="icon icon-remove"></span></a>
                </li>
            </script>
        </li>
    </ul>
{% endblock %}

{% block zicht_override_object_widget -%}
    {%- deprecated 'The OverrideObjectType form type is deprecated, use the ButtonsType instead.' -%}
    {#- @see \Zicht\Bundle\AdminBundle\Form\OverrideObjectType -#}
    {%- with {
        admin: sonata_admin.admin,
        buttons: {
            'admin.override.text_button': {
                style: 'info',
                route: 'override',
            },
        }
    } -%}
        {{- block('zicht_admin_buttons_widget') -}}
    {%- endwith -%}
{%- endblock %}

{% block zicht_admin_buttons_widget %}
    {%- apply spaceless %}
        {# @see \Zicht\Bundle\AdminBundle\Form\ButtonsType #}
        {# @var admin \Sonata\AdminBundle\Admin\AbstractAdmin #}
        <div class="btn-group">
            {% for key, button in buttons %}
                {% if (not admin.subject or admin.subject.id is empty) and not button.url|default %}
                    {# We should create a URL through de subject, but there's no subject, so disable the button #}
                    {% set button = button|merge({ disabled: true }) %}
                {% endif %}
                {% set label = button.label|default(key)|trans({}, (button.label_translation_domain|default(admin.translationDomain|default('SonataAdminBundle')))) %}
                <a class="btn{{ button.size|default ? ' btn-' ~ button.size }} btn-{{ button.style|default('default') }}" title="{{ label }}"
                    {%- if not button.disabled|default(false) %}
                        {{- ' ' }}href="{{ button.url|default ?: admin.generateObjectUrl(button.route, admin.subject) }}"
                    {%- endif -%}
                    {%- if button.disabled|default(false) %}
                        {{- ' ' }}disabled aria-disabled="true"
                    {%- endif -%}
                >
                    {%- if button.icon|default -%}
                        <i class="fa fa-{{ button.icon }}" aria-hidden="true"></i>&nbsp;
                    {%- endif -%}
                    {{- label -}}
                </a>
            {% endfor %}
        </div>
    {% endapply -%}
{% endblock %}
