{% trans_default_domain 'admin' %}

{% block zicht_quicklist_autocomplete_widget %}
    {# TODO make sure somehow that this script gets loaded only once #}
    <script type="text/javascript" src="{{ asset('bundles/zichtadmin/javascript/autocomplete.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/zichtadmin/style/autocomplete.css') }}">

    {% if multiple %}
        {{ block('zicht_quicklist_autocomplete_multiple_widget') }}
        {% set initializer = 'initMultiple' %}
    {% else %}
        {{ block('zicht_quicklist_autocomplete_single_widget') }}
        {% set initializer = 'init' %}
    {% endif %}
    <script type="text/javascript">
        jQuery(function() {
            ZichtQuicklistAutocomplete.init(
                jQuery('#{{ id }}'),
                {{ path(route, route_params)|json_encode|raw }},
                {{ (multiple ? true : false)|json_encode|raw }}
            );
        });
    </script>
    {{ block('form_help') }}
    {# autocomplete will be appended to this container #}
    <div class="zicht-ui-autocompletecontainer_{{ id }}  zicht-ui-autocompletecontainer_resultslist">
    </div>
{% endblock %}

{% block zicht_quicklist_autocomplete_control %}
    {% set _value=value %}
    <input type="hidden" name="{{ full_name }}" value="{{ _value.id }}" id="{{ id }}">
    {% set value=_value.value %}
    {% set full_name=id ~ "_text_control" %}
    {{ block('form_widget_simple') }}
{% endblock %}

{% block zicht_quicklist_autocomplete_single_widget %}
    {{ block('zicht_quicklist_autocomplete_control') }}

    {% if not required %}
        <input type="checkbox" class="null-control" {% if not value.id %}checked{% endif %}>
    {% endif %}
{% endblock %}

{% block zicht_quicklist_autocomplete_multiple_widget %}
    {% set _id = id %}
    {% set _value = value %}
    {% set list_id = id ~ '_item_list' %}

    <ul id="{{ _id }}" class="zicht-autocomplete-multiple" data-template="{{ _id }}_template">
    {% for value in _value %}
        <li>
            {% set id = '' %}
            {{ block('zicht_quicklist_autocomplete_control') }}
            <a class="remove-control">
                <i class="glyphicon glyphicon-remove"></i>
                {#<span class="icon glyphicon-remove"></span>#}
            </a>
        </li>
    {% endfor %}
        <li>
            {% set value={value: null, id: null} %}
            {% set id=id ~ "_add_control" %}
            {{ block('zicht_quicklist_autocomplete_control') }}
            <a class="add-control"><span class="icon glyphicon glyphicon-plus"></span></a>
            <script type="text/plain" id="{{ _id }}_template">
                <li>
                    {% set value = {value: '', id: ''} %}
                    {{ block('zicht_quicklist_autocomplete_control') }}
                    <a class="remove-control"><span class="icon icon-remove"></span></a>
                </li>
            </script>
        </li>
    </ul>
{% endblock %}

{% block zicht_override_object_widget %}
    <a class="btn btn-info" href="{{ sonata_admin.admin.generateObjectUrl('override', object) }}">{{ 'admin.override.text_button'|trans }}</a>
{% endblock %}
