{# Usable as an override for the "title.html.twig" template in SonataAdminBundle #}

<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">
    {% if
        field_description.options.identifier is defined
        and admin.isGranted('VIEW')
    %}
        {% if object.level > 0 %}
            {% for i in range(0, object.level) %}
                &nbsp;&nbsp;
            {% endfor %}
        {% endif %}
        {% if admin.isGranted('EDIT') %}
            <a href="{{ admin.generateObjectUrl('edit', object) }}">
                {%- block field %}{{ value }}{% endblock -%}
            </a>
        {% endif %}
    {% else %}
        {{ block('field') }}
    {% endif %}
</td>
